.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    h1{
        color: var(--primary-color);
        font-family: 'Handjet-Regular';
        margin: 20px 0;
    }
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px dashed rgba(0, 0, 0, 0.5);
    user-select: none;
}

.profile-email {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.logout-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #0056b3;
}