<div id="wrapper">
    <div id="header">
        <h1> Sala de Juegos</h1>
        <h2>Iniciar sesión</h2>
        <img src="../../../assets/icons/gamer-zone.ico">
    </div>

    <form [formGroup]="form">
        <label for="email">Ingresá tu email</label>
        <input id="email" name="email" type="email" placeholder="Ingrese su email" required formControlName="email">
        <span>{{email_error}}</span>


        <label for="password">Ingresá tu contraseña</label>
        <input id="password" name="password" type="password" formControlName="password" placeholder="Ingrese su contraseña" requiered>
        <span>{{ password_error }}</span>
        

        <button (click)="Submit()">Iniciar sesión</button>
        <span id="last_span">{{ form_error }}</span>

    </form>

    <div id="signup">
        <p>¿No tenés cuenta?</p>
        <button routerLink="/signup" routerLinkActive="active-route">Crear cuenta</button>

        <p>Ó</p>
        <button id="shortcut" (click)="Autocompletar()">Usar credencial automática</button>
    </div>

</div>

