<app-menu></app-menu>
<section id="chat-container">
    <header>
        <h1>Sala de Chat</h1>
    </header>
    <div class="body">
        <div id="chat-list">
            <h2>Lista de chats</h2>
            <ul>
                <li class="chat-item">Sala General</li>
                <li class="chat-item">Proyecto X</li>
            </ul>
        </div>
        <div id="chat-window">
            <h2>Chat: Sala General</h2>
            <div id="messages">
                <div *ngFor="let mensaje of (messages$ | async)" class="message"
                    [ngClass]="{'user': mensaje.idEmisor === (usuarioActual$ | async)?.uid}">
                    <span class="username">{{ mensaje.email }}</span>
                    <span class="text">{{ mensaje.mensaje }}</span>
                    <span class="timestamp">{{ mensaje.fecha | date: 'HH:mm dd/MM/yy' }}</span>
                </div>
            </div>
            <div id="message-input">
                <input type="text" [formControl]="nuevoMensaje" placeholder="Escribe tu mensaje..." />
                <button (click)="enviarMensaje()">Enviar</button>
            </div>
        </div>
    </div>
</section>