h1{
    font-family: "Handjet-Regular";
    font-size: 3em;
    text-align: center;
    margin: 10px 0;
}
#wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5% 2.5%;
}

#game{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 20px;
    background-color: rgb(2, 2, 2);
    background-image: url('../../../assets/images/card-game-background.png');
    background-size:cover;
    background-position: center;

    #mazo{
        position: absolute;
        height: calc(930px / 4);
        width: calc(655px / 4 + 60px);

        display: flex;
        flex-direction: row;
        border: 2px solid blue;
        overflow: show;
        align-self: flex-start;
    }

    .card{
        position: relative;
        display: flex;
        width: calc(655px / 4);
        height: calc(930px / 4);
    }
    .card__face {
        position: absolute;
        height: 100%;
        width: 100%;

        transition: transform 1s;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
    .card__face--front {
        border-radius: 20px;
        background-size: cover;
        transform: rotateY(180deg);
    }
    .card__face--back {
        background-size: cover;
        background-image: url("../../../assets/images/mayor-menor/cards/back-card-1.png"); 
        border-radius: 20px;
        border-left: 1px solid rgb(255, 255, 255);
    } 
    #rotate {
        position: absolute;
        bottom: 0;
    }
    #hide{
        position: absolute;
        bottom: -20px;
    }
}
#game > div:first-child{
    border: 10ps solid red;
}

#viewport{
    width: 1000px;
    height: 1000px;
    min-width: 1000px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: white;

    .row{
        width: 100%;
        background-color: red;
    }
    .row-puntos{
        background-color: blue;
    }
    .row-cards{
        height: 25%;
        background-color: green;
    }
    .row-buttons{
        background-color: yellow;
    }
    .row-banca{
        background-color: lightgreen;
    }
}




.showFront {
    animation: showFront 1s linear forwards;
}
.hideFront {
    animation: hideFront 1s linear forwards;
}
.showBack{
    animation: showBack 1s linear forwards;
}
.hideBack{
    animation: hideBack 1s linear forwards;
}
@keyframes showFront {
    from {
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(360deg);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}
@keyframes hideFront {
    from {
        transform: rotateY(0);
    }
    to{
        transform: rotateY(-180deg);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}

@keyframes showBack {
    from{
        transform: rotateY(180deg);
    }
    to{
        transform: rotateY(360deg);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}
@keyframes hideBack {
    from {
        transform: rotateY(0);
    }
    to{
        transform: rotateY(180deg);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}