<app-menu></app-menu>
<div id="wrapper">
    <section id="game">

        <!-- JUEGO INICIADO -->
        @if(isGameStarted) {
            <div id="mazo">
                <div *ngFor="let card of mazo; let i = index">
    
                    <div class="card" #card [ngStyle]="{
                        'transform': 'translateX('+ AcomodarMazo(i) +')'}">
                        <div class="card__face card__face--front" [ngStyle]="{'background-image': 'url(' + card.frontImg + ')'}"></div>
                        <div class="card__face card__face--back"></div>
                    </div>
                </div>
            </div>
            
            
            <button id="rotate" (click)="DrawCard()">Mostrar carta</button>
            <button id="hide" (click)="OcultarCarta()">Ocultar carta</button>
        }
        @else {
            <h1>¿Mayor o Menor?</h1>
            <h2>Instrucciones</h2>
            <p class="instrucciones">
                Saca una carta del mazo y adivina si la siguiente carta será mayor o menor.
            </p>
            <button (click)="Start()">Jugar</button>
        }
    </section>

</div>