@if (isLoading) {
    <app-loading-screen></app-loading-screen>
}
@else {
    <app-menu></app-menu>
}
<router-outlet></router-outlet>

<div id="wrapper">
    <!-- CAROUSEL -->
    <div #carousel class="carousel start">
        <!-- IITEM LIST -->
        <div #list class="list">
            <!-- EL AHORCADO -->
            <div #listItem class="item">
                <img src="../../../assets/images/ahorcado-background.png">
                <div class="content">
                    <h1 class="title">El Ahorcado</h1>
                    <div class="topic">Adivinanza</div>
                    <div class="des">
                        <h2>¡Adivina la palabra antes de que sea demasiado tarde!</h2>
                        <p>
                            En el clásico juego del Ahorcado, tendrás que poner a prueba tu vocabulario 
                            y tu habilidad para deducir palabras. ¡Cada letra equivocada te acerca un 
                            poco más al... ¡ahorcado! ¿Podrás salvar al personaje y ganar la partida?
                        </p>    
                    </div>
                    <div class="buttons">
                        <button routerLink="./ahorcado" routerLinkActive="active-route">Jugar Ahora</button>
                    </div>
                </div>
            </div>

            <!-- MAYOR O MENOR -->
            <div #listItem class="item" id="mayor-menor">
                <img src="../../../assets/images/card-game-background.png">
                <div class="content">
                    <h1 class="title">¿Mayor o Menor?</h1>
                    <div class="topic">Juego de cartas</div>
                    <div class="des">
                        <h2>¡Pon a prueba tu suerte y estrategia en este clásico juego de cartas!</h2>
                        <p>
                            Cada ronda, tendrás que decidir si la próxima
                            carta será más alta o más baja que la anterior. 
                            ¿Podrás acumular la mayor cantidad de puntos y convertirte en el campeón?
                        </p>   
                    </div>
                    <div class="buttons">
                        <button routerLink="./mayor-menor" routerLinkActive="active-route">Jugar Ahora</button>
                    </div>
                </div>
            </div>

            <!-- POKEMON-->
            <div #listItem class="item">
                <img src="../../../assets/images/pokemon-background.png">
                <div class="content">
                    <div class="title">¿Cuál es ese Pokemon?</div>
                    <div class="topic">Trivia</div>
                    <div class="des">
                        <h2>¡Conviértete en un Maestro Pokémon!</h2>
                        <p>
                            Pon a prueba tu habilidad para reconocer criaturas de todas las regiones y
                            descubre qué tan bien conoces la Pokédex. Con cada Pokémon que logres identificar,
                            ¡estarás más cerca de ser el mejor entrenador!
                        </p>
                    </div>
                    <div class="buttons">
                        <button routerLink="./pokemon" routerLinkActive="active-route">Jugar Ahora</button>
                    </div>
                </div>
            </div>

            <!--  SNAKE -->
            <div #listItem class="item">
                <img src="../../../assets/images/snake-background.jpg">
                <div class="content">
                    <div class="title">Snake</div>
                    <div class="topic">Clásico</div>
                    <div class="des">
                        <h2>¡Domina la Serpiente y Conquista la Pista!</h2>
                        <p>
                            Prepárate para la acción clásica más adictiva. Guía a tu serpiente para que devore la comida y crezca sin parar. 
                            <br>
                            Esquiva los muros y, sobre todo, ¡evita chocar con tu propio cuerpo! Desafía tus reflejos y tu estrategia. 
                            <br>
                            ¿Hasta dónde puedes crecer antes de que la pista te domine? ¡La puntuación más alta te espera!
                        </p>
                    </div>
                    <div class="buttons">
                        <button routerLink="/games/snake" routerLinkActive="active-route">Jugar Ahora</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- THUMBNAILS -->
        <div #thumbnail class="thumbnail">

            <!-- EL AHORCADO -->
            <div #listThumb class="item" routerLink="./ahorcado" routerLinkActive="active-route">
                <img src="../../../assets/images/ahorcado-thumbnail.png">
                <div class="content">
                    <h2 class="title">
                        El Ahorcado 
                        <!-- TODO: Modificar estilos del thumbnail -->
                    </h2>
                    <h3 class="description">
                        Adivinanza
                    </h3>
                </div>
            </div>

            <!-- MAYOR O MENOR -->
            <div #listThumb class="item" routerLink="./mayor-menor" routerLinkActive="active-route">
                <img src="../../../assets/images/card-game-thumbnail.png">
                <div class="content">
                    <h2 class="title">
                        ¿Mayor o Menor?
                    </h2>
                    <h3 class="description">
                        Juego de cartas
                    </h3>
                </div>
            </div>

            <!-- POKEMON -->
            <div #listThumb class="item" routerLink="./pokemon" routerLinkActive="active-route">
                <img src="../../../assets/images/pokemon-background.png">
                <div class="content">
                    <h2 class="title">
                        ¿Cuál es ese Pokemon?
                    </h2>
                    <h3 class="description">
                        Trivia
                    </h3>
                </div>
            </div>

            <!-- SNAKE -->
            <div #listThumb class="item" routerLink="./games/snake" routerLinkActive="active-route">
                <img src="../../../assets/images/snake-background.jpg">
                <div class="content">
                    <h2 class="title">Snake</h2>
                    <h3 class="description">Clásico</h3>
                </div>
            </div>
        </div>

        <!-- CONTROLS -->
        <div class="arrows">
            <button id="prev" (click)="GoBack()"><</button>
            <button id="next" (click)="GoNext()">></button>
        </div>
    </div>
</div>
