<app-menu></app-menu>

<div id="wrapper">
    <div #carousel class="carousel start">
        <!-- TODO: Crear los componentes de cada juego y una interfaz comun -->

        <!-- IITEM LIST -->
        <div #list class="list">
            <div #listItem class="item">
                <img src="../../../assets/images/ahorcado-background.png">
                <div class="content">
                    <div class="title">El Ahorcado</div>
                    <div class="topic">Adivinanza</div>
                    <div class="des">
                        <h2>¡Adivina la palabra antes de que sea demasiado tarde!</h2>
                        <p>
                            En el clásico juego del Ahorcado, tendrás que poner a prueba tu vocabulario 
                            y tu habilidad para deducir palabras. ¡Cada letra equivocada te acerca un 
                            poco más al... ¡ahorcado! ¿Podrás salvar al personaje y ganar la partida?
                        </p>    
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div #listItem class="item">
                <img src="../../../assets/images/card-game-background.png">
                <div class="content">
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div #listItem class="item">
                <img src="../../../assets/images/preguntados-background.jpg">
                <div class="content">
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div #listItem class="item">
                <img src="../../../assets/images/space-invaders-background.jpg">
                <div class="content">
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- THUMBNAILS -->
        <div #thumbnail class="thumbnail">
            <div #listThumb class="item">
                <img src="../../../assets/images/ahorcado-thumbnail.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div #listThumb class="item">
                <img src="../../../assets/images/card-game-thumbnail.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div #listThumb class="item">
                <img src="../../../assets/images/preguntados-thumbnail.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div #listThumb class="item">
                <img src="../../../assets/images/space-invaders-thumbnail.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTROLS -->
        <div class="arrows">
            <button id="prev" (click)="GoBack()"><</button>
            <button id="next" (click)="GoNext()">></button>
        </div>


        <!-- TIME BAR -->
        <div class="time"></div>
    </div>
</div>
