@if (IsLoggedIn()) {

}
@else {
    <div id="unlogged_wrapper">
        <div id="img_container">
            <img src="assets/images/gamer-zone.png">
        </div>
        <div id="start_container">
            <div id="text">
                <h1>Sala de Juegos</h1>
                <p>Diversión asegurada.</p>
            </div>
            <button>Comenzá ahora</button>
        </div>
    </div>
}


<!-- El usuario se encuentra registrado -->
@if (IsLoggedIn()) {
    <!-- <h2>Lograste acceder a {{ appName }}</h2>
    <section>
        <h3>Seccion en construcción</h3>
        <button (click)="Logout()">Cerrar sessión</button>
    </section> -->
}
<!-- El usuario no se encuentra registrado -->
<!-- @else {
    <section>
        <h2>Crea una cuenta</h2>
        <button routerLink="/signup" routerLinkActive="active-route">Crear cuenta</button>
    </section>
    <section>
        <h2>Inicia sesión con tu cuenta</h2>
        <button routerLink="/login" routerLinkActive="active-route">Iniciar sesión</button>
    </section>
} -->
