<app-menu></app-menu>

<div class="game-wrapper">
  <div class="game-card">
    <!-- Sección de Inicio -->
    <div *ngIf="gameState === 'start'" class="screen start-screen">
      <h2>Bienvenido al Juego de la Serpiente</h2>
      <button (click)="startGame()" class="start-button">Iniciar Juego</button>
    </div>

    <!-- Pantalla de Fin de Juego -->
    <div *ngIf="gameState === 'gameover'" class="screen gameover-screen">
      <h2>¡Juego Terminado!</h2>
      <p>Puntuación Final: <span class="score-final-value">{{ score() }}</span></p>
      <button (click)="resetGame()" class="restart-button">Volver al Inicio</button>
    </div>

    <!-- Contenedor del Canvas -->
    <div class="screen canvas-wrapper" [class.hidden]="gameState !== 'playing'">
      <canvas #snakeCanvas [width]="canvasSize" [height]="canvasSize" class="game-canvas" tabindex="0"></canvas>
    </div>
  </div>
</div>