<div id="wrapper">
    <header>
        <h1>Sobre mí</h1>
    </header>
    <section id="about">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s">
        <h2>Leonel Alegre</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam saepe laborum adipisci nam quidem et maiores doloribus pariatur, ad commodi, consequatur nesciunt, rem nihil exercitationem? Harum, error architecto! Ut, error?
        </p>
    </section>
</div>
