<app-menu></app-menu>
<!-- Error de login muestra error generico, mal manejado -->


<div id="wrapper">
    <header>
        <h1>Sobre mí</h1>
    </header>
    <section id="about">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAd5avdba8EiOZH8lmV3XshrXx7dKRZvhx-A&s">
        <h2>Leonel Alegre</h2>
        <p>
            ¡Hola! Soy Leonel y este es mi proyecto para la carrera de Técnico Superior en Programación en la UTN. Este proyecto está desarrollado con <strong>Angular 18</strong> y utiliza los servicios de <strong>Firebase Hosting</strong>, <strong>Firestore</strong> y <strong>Firebase Authentication</strong>. 
        </p>
        <p>
            Dentro de esta aplicación encontrarás los juegos Mayor y Menor, El Ahorcado, y Trivia de preguntas y respuestas. Además seleccioné otro juego clásico para incluir a la colección: ¡Space Invaders!
        </p>
    </section>
</div>
