<app-menu></app-menu>
<!-- Error de login muestra error generico, mal manejado -->


<div id="wrapper">
    <header>
        <h1>Sobre mí</h1>
    </header>
    <section id="about">
        <img src="../../../assets/images/about-me.jpeg">
        <h2>Leonel Alegre</h2>
        <p>
            ¡Hola! Soy Leonel y este es mi proyecto para la materia Laboratorio IV de la carrera de Técnico Superior en Programación impartida por la UTN.
        </p>
        <P>
            Este proyecto está desarrollado con <strong>Angular 18</strong> y utiliza los servicios de <strong>Firebase Hosting</strong>, <strong>Firestore</strong> y <strong>Firebase Authentication</strong>. 
        </P>
        <p>
            Dentro de esta aplicación encontrarás los juegos Mayor y Menor, El Ahorcado, y Trivia de preguntas y respuestas.
        </p>
        <p>
            Además seleccioné otro juego clásico para incluir a la colección: <strong>¡La Viborita!</strong>
        </p>
    </section>
</div>
