<div id="viewport" #viewport>
    @if(gameState === 'start'){
    <section id="welcome" class="screen screen-start">
        <h1>¿Mayor o Menor?</h1>
        <h2>¿Listo para poner a prueba tu suerte y habilidad?</h2>
        <p>
            Comienza tu partida con 100 monedas de oro. Con cada apuesta,
            arriesgarás 20 monedas para adivinar si la siguiente carta será
            mayor o menor que la actual.<strong>¡Las rachas son tu clave para la riqueza!</strong>
        </p>
        <p>
            Aciertos consecutivos: Cada vez que adivines correctamente,
            tu racha crecerá y el pozo aumentará. ¡Cuanto más larga sea
            tu racha, mayor será la recompensa!
            <br>
            Rompe la racha: Si fallas, perderás tu racha actual
            y el pozo se reiniciará. ¡Pero no te desanimes! Siempre
            hay una nueva oportunidad para comenzar de nuevo.
        </p>
        <button (click)="Start()">Jugar</button>
    </section>
    }
    @else if(gameState === 'playing'){
    <!-- PUNTOS -->
    <div class="row row-puntos">
        <div id="puntos-container">
            <span id="puntos-total">${{ run.pozo }}</span>
            <div class="modificador">
                <span id="base">{{ run.apuesta }}</span>
                <span class="operador"> X </span>
                <span id="producto">{{ run.racha }}</span>
            </div>
        </div>
    </div>
    <!-- MENSAJE -->
    <div class="row row-message">
        <!-- Add message container -->
        <div *ngIf="message" class="message">{{ message }}</div>
    </div>
    <!-- CARTAS -->
    <div class="row row-cards">
        <div class="cards-container">
            <div class="mazo">

                <div *ngFor="let card of mazo; let i = index">
                    <div class="card" #card [ngStyle]="{
                            'transform': 'translateX('+ AcomodarMazo(i) +')'}">
                        <div class="card__face card__face--front"
                            [ngStyle]="{'background-image': 'url(' + card.frontImg + ')'}"></div>
                        <div class="card__face card__face--back"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- APUESTA -->
    <div class="row row-apuesta"><span>Apuesta ${{run.apuesta}}</span></div>
    <!-- BOTONES -->
    <div class="row row-buttons">
        <div id="buttons-container">
            <span class="odds odds-less">40%</span>
            <span class="boton" (click)="RobarCarta('menor')">Menor</span>
            <span class="producto">X {{run.racha}}</span>
            <span class="boton" (click)="RobarCarta('mayor')">Mayor</span>
            <span class="odds odds-more">60%</span>
        </div>
    </div>
    <!-- BANCA -->
    <div class="row row-banca">
        <div id="banca-container">
            <span id="banca-title">Banca</span>
            <span id="banca-total">${{run.banca}}</span>
        </div>
    </div>
    }
    @else if(gameState === 'end'){
    <section id="gameover" class="screen screen-gameover">
        <div style="text-align: center;">
            <h1>¡Fin del Juego!</h1>
            <br>
            <h2>Estadísticas de tu partida</h2>
        </div>

        <ul class="puntuacion">
            <li>
                <span>Respuestas totales</span>
                <strong>{{ run.totalRespuestas }}</strong>
            </li>
            <li>
                <span>Aciertos</span>
                <strong>{{ run.aciertos }}</strong>
            </li>
            <li>
                <span>Mejor racha de aciertos</span>
                <strong>{{ run.mejorRacha }}</strong>
            </li>
            <li>
                <span>Puntaje</span>
                <strong>{{ run.puntaje }}</strong>
            </li>
        </ul>
        <button (click)="ResetGame()">Volver al Inicio</button>
    </section>
    }
</div>