.card{
    position: relative;
    display: flex;
    width: calc(655px / 4);
    height: calc(930px / 4);
}
.card__face {
    position: absolute;
    height: 100%;
    width: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card__face--front {
    border-radius: 20px;
    background-size: cover;
    transform: rotateY(180deg);
}
.card__face--back {
    background-size: cover;
    background-image: url("../../../../assets/images/mayor-menor/cards/back-card-1.png"); 
    border-radius: 20px;
    border-left: 1px solid rgb(255, 255, 255);
} 
#rotate {
    position: absolute;
    bottom: 0;
}
#hide{
    position: absolute;
    bottom: -20px;
}


#viewport{
    width: 1000px;
    height: 1000px;
    min-width: 1000px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(165, 165, 165);

    .row{
        width: 100%;
    }
    .row-puntos{
        height: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        #puntos-container{
            width: 40%;
            padding: 0 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
        
            #puntos-total{
                font-size: 4.5em;
                font-family: "Handjet-Bold";
                color: yellow; /* TODO: CAMBIAR VARIABLE*/
            }

            .modificador{
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                padding-bottom: 2%;

                font-size: 3em;
                font-family: "Handjet-Bold";
                width: 100%;

                #base{
                    width: 15%;
                    color: rgb(0, 174, 255); /* TODO: cambiar variable*/
                }

                .operador{
                    width: 15%;
                    color: rgb(0, 245, 102);
                }
                #producto{
                    width: 15%;
                    color: red;
                }
            }
        }
    }
    .row-cards{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;

        .cards-container{
            width: calc((655px / 4 + 60px) * 2 * 1.2);
            height: calc(930px / 4);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .mazo{
            position: absolute;
            height: calc(930px / 4);
            width: calc(655px / 4 + 60px);
    
            display: flex;
            flex-direction: row;
            overflow: show;
            align-self: flex-start;
            /* left: 50%;
            transform: translateX(-50%); */
        }
    }
    .row-buttons{
        height: 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #buttons-container{
            width: 50%;
            height: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: center;

            .odds, .producto{
                width: 20%;
                font-family: "Handjet-Bold";
                font-size: 2.5em;
            }
            .boton{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: "Handjet-Bold";
                font-size: 2.5em;
                width: 100px;
                height: 100px;

                border: none;
                border-radius: 100%;
                background-color: white;
                cursor: pointer;
                box-shadow: 0 0 10px 2px rgb(0, 0, 0) inset;

            }
            .odds{
                color: rgb(0, 245, 102);
                opacity: 1;
                display: none;
            }
            .producto{
                color: red;
            }
        }
    }
    .row-banca{
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #banca-container{
            width: 40%;
            padding: 0 2px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);

            #banca-total{
                font-size: 4.5em;
                font-family: "Handjet-Bold";
                color: yellow; /* TODO: CAMBIAR VARIABLE*/
            }
            #banca-title{
                font-size: 3em;
                font-family: "Handjet-Bold";
                color: rgb(0, 245, 102);
            }
        }
    }
    .row-apuesta{
        height: 9%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        span{
            height: 98%;
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            font-family: "Handjet-Bold";
            font-size: 2.5em;
            border-radius: 50px;
            background-color: var(--light-color);
            box-shadow: 0 0 10px 2px rgb(0, 0, 0) inset;
        }
    }
}

.showFront {
    animation: showFront 1s linear forwards;
}
.hideFront {
    animation: hideFront 1s linear forwards;
}
.showBack{
    animation: showBack 1s linear forwards;
}
.hideBack{
    animation: hideBack 1s linear forwards;
}
@keyframes showFront {
    from {
        transform: rotateY(180deg) translateX(0);
    }
    to{
        transform: rotateY(360deg) translateX(140%);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}
@keyframes hideFront {
    from {
        transform: rotateY(0);
        /* transform: translateX(0); */
    }
    to{
        transform: rotateY(-180deg);
        /* transform: translateX(100%); */
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}

@keyframes showBack {
    from{
        transform: rotateY(180deg);
        /* transform: translateX(0); */
    }
    to{
        transform: rotateY(360deg);
        /* transform: translateX(100%); */

    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
}
@keyframes hideBack {
    from {
        transform: rotateY(0) translateX(0);
    }
    to{
        transform: rotateY(180deg) translateX(-140%);
    }
    0%{
        scale: 1;
    }
    50%{
        scale: 1.2;
    }
    100%{
        scale: 1;
    }
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 4%;

    h1{
        font-size: 5em;
        font-family: "Handjet-Bold";
        color: black;
    }
    h2{
        font-size: 3em;
        font-family: "Handjet-Bold";
        color: black;
    }
    p{
        font-size: 2.5em;
        font-family: "Handjet-Regular";
        color: black;
    }

    button{
        border: none;
        color: black;
        font-family: "Handjet-Bold";
        font-size: 3em;
        padding: 10px 50px;
        border-radius: 50px;
        box-shadow: 0 0 10px 2px rgb(0, 0, 0);
        background-color: var(--primary-color);
        cursor: pointer;
    }
}

/* Style for the message */
.row-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}
.message {
  font-family: 'Handjet-Bold'; /* Replace 'Arial' with the font used in the template */
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  width: 250px;
}