:root{
    --background-color: #174728;
    --primary-color: #4bdf80;
    --secondary-color: #2e3575;
    --accent-color: #936cc4;
    --light-color: #ebf7f0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: var(--background-color);
}

@font-face {
    font-family: 'Handjet-Regular';
    src: url('./assets/fonts/Handjet/static/Handjet-Regular.ttf');
}
@font-face {
    font-family: 'Handjet-Bold';
    src: url('./assets/fonts/Handjet/static/Handjet-Bold.ttf');
}
