<div id="viewport" #viewport>
    <!-- MODAL -->
    <div class="modal" (click)="onModalClick($event)" #modal>
        <div class="card">
            <h2>{{ modalData.header }}</h2>
            <p>{{ modalData.body }}</p>
            <button (click)="Continuar()">{{ modalData.buttonText }}</button>
        </div>
    </div>
    @if(gameState === 'start'){
        <section class="screen screen-start">
            <h1>Preguntados</h1>
            <h2>¡Pon a prueba tus conocimientos!</h2>
            <p>
                ¿Crees que sabes mucho? ¡Demuéstralo! 
                <br>
                Responde preguntas de diferentes categorías y 
                niveles de dificultad. 
                <br>
                <strong>¿Lograrás responder todas las preguntas?</strong>
            </p>
            <button (click)="Start()">Jugar</button>
        </section>
    }
    @else{
        <section class="screen screen-playing">
            <div class='roulette-wrapper'>
                <div class='selector' #selector></div>
                <div class='wheel' #wheel>
                    <div class="row" #row>
                        <div #card class="card" *ngFor="let tarjeta of tarjetas;" 
                        [attr.data-categoria]="tarjeta.categoria" 
                        [ngStyle]="{'background-image': 'url('+ tarjeta.imgUrl+ ')'}">
                        </div>
                    </div>
                    <div class="row" #row>
                        <div #card class="card" *ngFor="let tarjeta of tarjetas;" 
                        [attr.data-categoria]="tarjeta.categoria" 
                        [ngStyle]="{'background-image': 'url('+ tarjeta.imgUrl+ ')'}">
                        </div>
                    </div>
                    <div class="row" #row>
                        <div #card class="card" *ngFor="let tarjeta of tarjetas;" 
                        [attr.data-categoria]="tarjeta.categoria" 
                        [ngStyle]="{'background-image': 'url('+ tarjeta.imgUrl+ ')'}">
                        </div>
                    </div>
                </div>
            </div>
            
            @if(gameState === 'girando'){
                <section class="container spin-screen">
                    <h1 class="categoria">{{ run.categoria }}</h1>

                    <div id="info">
                        <div class="field">
                            <h2>Puntos:</h2>
                            <h2 class="valor">{{ run.puntos }}</h2>
                        </div>
                        <div class="field">
                            <h2>Racha de aciertos:</h2>
                            <h2 class="valor">{{ run.racha }}</h2>
                        </div>
                        <div class="field">
                            <h2>Mayor racha de aciertos:</h2>
                            <h2 class="valor">{{ run.maxRacha }}</h2>
                        </div>
                        <div class="field">
                            <h2>Preguntas acertadas:</h2>
                            <h2 class="valor">{{ run.preguntasAcertadas }}</h2>
                        </div>
                        <div class="field">
                            <h2>Preguntas respondidas:</h2>
                            <h2 class="valor">{{ run.preguntasRespondidas }}</h2>
                        </div>
                        <div class="field">
                            <h2>Vidas</h2>
                            <h2 class="valor">{{ run.vidas }}</h2>
                        </div>
                    
                    </div>
                    
                    <div id="buttonContainer">
                        <button (click)="SpinWheel()" [disabled]="!canSpin">Spin Wheel</button>
                    </div>                    
                </section>
            }
            @else if (gameState === 'respondiendo') {
                <section class="container answer-screen">
                    <h1>{{ run.categoria }}</h1>
                    <div class="pregunta">
                        @if(pregunta.img !== ''){
                          <h2>{{ pregunta.consigna }}</h2>
                          <div class="img" [ngStyle]="{'background-image': 'url(' + pregunta.img+ ')'}"></div>
                        }
                        @else {
                            <h2>{{ pregunta.consigna }}</h2>
                        }
                    </div>
                    <div class="opciones">
                        <span class="opcion" (click)="ElegirOpcion(pregunta.opciones[0])">{{ pregunta.opciones[0] }}</span>
                        <span class="opcion" (click)="ElegirOpcion(pregunta.opciones[1])">{{ pregunta.opciones[1] }}</span>
                        <span class="opcion" (click)="ElegirOpcion(pregunta.opciones[2])">{{ pregunta.opciones[2] }}</span>
                        <span class="opcion" (click)="ElegirOpcion(pregunta.opciones[3])">{{ pregunta.opciones[3] }}</span>
                    </div>
                </section>
            }

        </section>
    }
</div>